<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxxman.autotest.shell">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 授予应用程序访问系统开机事件的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:label="注册">
            <category android:name="android.intent.category.LAUNCHER"/>
        </activity>
        <service
            android:name=".MyService"
            android:exported="true"
            android:process=":MyCorn" >
            <intent-filter>
                <action android:name="com.xxxman.autotest.shell.myservice" />
            </intent-filter>
        </service>
        <receiver android:name=".MyBroadCastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="com.xxxman.autotest.shell.MyBroadCastReceiver"/>
            </intent-filter>
        </receiver>
        <!--&lt;!&ndash; 定义一个BroadcastReceiver，监听系统开机广播 &ndash;&gt;-->
        <!--<receiver android:name=".MyBroadCastReceiver">-->
            <!--　　<intent-filter >-->
            <!--　　　　<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
            <!--　　</intent-filter>-->
        <!--</receiver>-->
    </application>








</manifest>